<div class="d-flex flex-column min-vh-100">
  <div class="row">
    <div class="col">
      <shared-navbar></shared-navbar>
    </div>
  </div>

  <div class="container mt-4 px-2 flex-grow-1">
    <div class="row">
      <div class="col-3">
        <shared-sidebar></shared-sidebar>
      </div>
      <div class="col-9">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <shared-footer></shared-footer>
    </div>
  </div>
</div>
